bs4~=0.0.1
beautifulsoup4~=4.10.0
soupsieve~=2.3.1
pip~=20.2.3
pymongo~=4.0.1
MarkupSafe~=2.0.1
Werkzeug~=2.0.2
Jinja2~=3.0.3
click~=8.0.3
itsdangerous~=2.0.1
certifi~=2021.10.8
requests~=2.26.0
urllib3~=1.26.7
idna~=3.3
setuptools~=49.2.1
Flask~=2.0.2