/*common*/
@charset "UTF-8";

.body__container {
    width: 100%;
    font-family: "Apple SD Gothic Neo";
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    height: 100vh;
}
.body__container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0,.8);
}
a {
    text-decoration: none;
}

/*float clearfix*/
.float--left {
    float: left;
}
.float--right {
    float: right;
}
.clearfix {
    content: "";
    clear: both;
    display: block;
}

/*button*/
.btn {
    display: block;
    background: #6495ed;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    width: 300px;
    height: 50px;
}
.btn:hover {
    content: "";
    background: #000;
}

/*input*/
select {
    display: block;
    background: transparent;
    color: #fff;
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
/*section inner*/
.section {
    position: relative;
}
.section .inner {
    width: 980px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 30px 30px;
}
/*header*/
header .inner {
    height: 100px;
}
/*card*/
.section--card {
    position: relative;
}
.section--card .card__categorylist {
    padding-bottom: 20px;
}
.section--card .card__category{
    display: inline;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    background: #808080;
}
.section--card .card-box {
    display: flex;
    flex-wrap: nowrap;
}
.section--card .image {
    width: 300px;
    height: 200px;
    padding-top: 20px;
}
.section--card .text {
    width: 550px;
    margin-left: 30px;
}
.section--card .card__title {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    padding-right: 20px;
    padding-bottom: 20px;
}
.section--card .card__author {
    display: inline-block;
    font-size: 32px;
    color: #a9a9a9;
    padding-bottom: 20px;
}
.section--card .card__desc {
    font-size: 16px;
    padding-bottom: 20px;
}


