/*common*/
@charset "UTF-8";

.body__container {
    width: 100%;
    font-family: "Apple SD Gothic Neo";
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
a, a:visited {
    color: #fff;
}
/*float clearfix*/
.float--left {
    float: left;
}
.float--right {
    float: right;
}
.clearfix {
    content: "";
    clear: both;
    display: block;
}
/*section inner*/
.section {
    position: relative;
}
.section .inner {
    width: 980px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 30px 30px;
}
/*list*/
.section--list ul {
    display: inline-block;
    vertical-align: top;
    width: 130px;
}
.section--list li {
    text-align: center;
    margin-bottom: 10px;
}
.section--list .item__thumbnail {
    position: relative;
}
.section--list .thumbnail__img,
.section--list .thumbnail__title {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    vertical-align: middle;
}
.section--list .thumbnail__title {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.section--list .thumbnail__img:hover {
    transform: scale(1.2);
    transition: transform .3s;
    opacity: 0.5;
}